/* Elements */
body {
    font-family: "Helvetica", "Arial";
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
form {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type = submit] {
    background: none;
    background-size: 100%;
    border: none;
}
input#searchButton {
    margin-left: -5em;
    background-image: url("Images/go.png");
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
/* IDs */
#searchBar {
    width: 75%;
    height: 3em;
    font-size: 150%;
    border-radius: 25px;
    padding-left: 2em;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    background-image: url("Images/search.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5em;
    background-size: 1em;
}
#search::placeholder {
    color:rgb(138, 137, 137)
}
#nasaLogo:hover, #searchButton:hover{
    cursor: pointer;
}
#imageTarget {
    position: absolute;
    top: 10em;
    margin-left: 1em;
}
#prompt {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    top: 5em;
}
#loading {
    text-align: center;
}
/* Classes */
.formToTop {
    display: flex;
    align-items: start;
}
.buttonToTop {
    margin-top: 1em;
}
.searchBarToTop {
    margin-top: 0.2em;
}
.image {
    margin-left: 0.3em;
    margin-right: 0.3em;
    height: 15em;
    width: auto;
    border-radius: 8px;
}
.image:hover {
    transform: scale(1.1);
    border-style: solid;
    border-width: medium;
    border-color: rgb(5, 83, 151);
}
.hide {
    display: none;
}
.blurBackground {
    backdrop-filter: blur(4px);
    filter: blur(4px);
}
.noBackground {
    background-image: none;
}
@media only screen and (max-width: 600px) {
    .image {
    display: block;
    margin: auto;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    }
}